body {
    font-family: 'Courier New', Courier, monospace;
    margin : 0;
    background-color: #eee;
}

.header {
    background-color: black;
    color : #eee;
    

}

.title {
    padding : 20px;
    font-weight : bold;
    font-size :20px;
}

.btn-ligth{
    background: grey;
    float : right;
}
