{% extends 'base.html.twig' %}

{% block title %}Lista de productos{% endblock %}

{% block body %}
 <div class = "header">
 <strong>Carrito de Compras</strong>
 <div>
    <button class = "btn-ligth">Ver orden</button>
    <button class = "btn-ligth">Salir</button>
</div>
</div>
<body><h1 class = "title">Lista de productos</h1></body>

{% endblock %}
